export(evaluate)
export(is.message, is.warning, is.error, is.value, is.source)
export(parse_all)
S3method(parse_all, character)
S3method(parse_all, "function")
S3method(parse_all, connection)
S3method(parse_all, default)
export(replay)
S3method(replay, list)
S3method(replay, character)
S3method(replay, source)
S3method(replay, warning)
S3method(replay, message)
S3method(replay, error)
S3method(replay, value)
S3method(replay, recordedplot)
export(create_traceback)
export(try_capture_stack)
